<a href="https://colab.research.google.com/github/KiruthigaBalendran/Breast-Cancer-Classification/blob/main/C4_5_Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
import pandas as pd
import numpy as np

# data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# machine learning
from sklearn.preprocessing import StandardScaler

import sklearn.linear_model as skl_lm
from sklearn.preprocessing import LabelEncoder
from sklearn import neighbors
from sklearn.metrics import confusion_matrix, classification_report, precision_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from google.colab import drive
drive.mount('/content/drive')
sys.path.append('/content/drive/MyDrive/MSc/Semester-4/Pattern-Recognition/Assignments/Decision-Tree')
import c45

# package settings initialization
sns.set(style="whitegrid", color_codes=True, font_scale=1.3)

%matplotlib inline

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Read the Data

In [2]:
# read the data and check the first 5 rows
df = pd.read_csv('/content/drive/MyDrive/MSc/Semester-4/Pattern-Recognition/Assignments/Decision-Tree/data.csv', index_col=0)
df.head()

         diagnosis  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
id                               ...
842302           M        17.99  ...                  0.11890          NaN
842517           M        20.57  ...                  0.08902          NaN
84300903         M        19.69  ...                  0.08758          NaN
84348301         M        11.42  ...                  0.17300          NaN
84358402         M        20.29  ...                  0.07678          NaN

[5 rows x 32 columns]

# Data Summary

In [3]:
# general summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 569 entries, 842302 to 92751
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   diagnosis                569 non-null    object
 1   radius_mean              569 non-null    float64
 2   texture_mean             569 non-null    float64
 3   perimeter_mean           569 non-null    float64
 4   area_mean                569 non-null    float64
 5   smoothness_mean          569 non-null    float64
 6   compactness_mean         569 non-null    float64
 7   concavity_mean           569 non-null    float64
 8   concave points_mean      569 non-null    float64
 9   symmetry_mean            569 non-null    float64
 10  fractal_dimension_mean   569 non-null    float64
 11  radius_se                569 non-null    float64
 12  texture_se               569 non-null    float64
 13  perimeter_se             569 non-null    float64
 14  area_se                  569 non-null    float64
 15  smoothness_se            569 non-null    float64
 16  compactness_se           569 non-null    float64
 17  concavity_se             569 non-null    float64
 18  concave points_se        569 non-null    float64
 19  symmetry_se              569 non-null    float64
 20  fractal_dimension_se     569 non-null    float64
 21  radius_worst             569 non-null    float64
 22  texture_worst            569 non-null    float64
 23  perimeter_worst          569 non-null    float64
 24  area_worst               569 non-null    float64
 25  smoothness_worst         569 non-null    float64
 26  compactness_worst        569 non-null    float64
 27  concavity_worst          569 non-null    float64
 28  concave points_worst     569 non-null    float64
 29  symmetry_worst           569 non-null    float64
 30  fractal_dimension_worst  569 non-null    float64
 31  Unnamed: 32              0 non-null      float64
dtypes: float64(31), object(1)
memory usage: 146.7+ KB

# Pre-processing

In [4]:
# There aren't any missing values except the column Unnamed: 32. So this column can be removed
df = df.drop('Unnamed: 32', axis=1)

In [5]:
# Using Labelencoder to transform diagnosis characters to digits
labelencoder = LabelEncoder()
df['diagnosis'] = labelencoder.fit_transform(df['diagnosis'])
X = df
y = df['diagnosis']

# Split the data into training and testing sets
# The paper has split the data as 65.10% as training and 34.90% as testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.349, random_state=40)

# C45 Model

In [6]:
feature_names = list(X.columns)
c45 = c45.C45(attrNames= feature_names)
c45.fit(X_train, y_train)

C45(attrNames=['diagnosis', 'radiusmean', 'texturemean', 'perimetermean',
               'areamean', 'smoothnessmean', 'compactnessmean', 'concavitymean',
               'concavepointsmean', 'symmetrymean', 'fractaldimensionmean',
               'radiusse', 'texturese', 'perimeterse', 'arease', 'smoothnessse',
               'compactnessse', 'concavityse', 'concavepointsse', 'symmetryse',
               'fractaldimensionse', 'radiusworst', 'textureworst',
               'perimeterworst', 'areaworst', 'smoothnessworst',
               'compactnessworst', 'concavityworst', 'concavepointsworst',
               'symmetryworst', ...])

In [7]:
predictions = c45.predict(X_test)

# Predictions and Accuracy

In [8]:
print("Accuracy "+ str(c45.score(X_test, y_test)))

Accuracy 1.0

# Classification Report and Confusion Matrix for dropping the Unnamed: 32 column

In [9]:
print(classification_report(y_test, predictions, digits=3))
cm = confusion_matrix(y_test, predictions)
print(cm)

              precision    recall  f1-score   support

           0      1.000     1.000     1.000       133
           1      1.000     1.000     1.000        66

    accuracy                          1.000       199
   macro avg      1.000     1.000     1.000       199
weighted avg      1.000     1.000     1.000       199

[[133   0]
 [  0  66]]

In [10]:
c45.printTree()

<?xml version="1.0" ?>
<DecisionTree>
	<diagnosis flag="l" p="0.605" value="1.0">0</diagnosis>
	<diagnosis flag="r" p="0.395" value="1.0">1</diagnosis>
</DecisionTree>