<a href="https://colab.research.google.com/github/KiruthigaBalendran/Breast-Cancer-Classification/blob/main/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [119]:
import pandas as pd
import numpy as np

# data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# machine learning
from sklearn.preprocessing import StandardScaler

import sklearn.linear_model as skl_lm
from sklearn.preprocessing import LabelEncoder
from sklearn import neighbors
from sklearn.metrics import confusion_matrix, classification_report, precision_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression


# package settings initialization
sns.set(style="whitegrid", color_codes=True, font_scale=1.3)

%matplotlib inline

# Read the Data

In [120]:
# read the data and check the first 5 rows
df = pd.read_csv('/content/drive/MyDrive/MSc/Semester-4/Pattern Recognition/Assignments/Logistic Regression/data.csv', index_col=0)
df.head()

         diagnosis  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
id                               ...
842302           M        17.99  ...                  0.11890          NaN
842517           M        20.57  ...                  0.08902          NaN
84300903         M        19.69  ...                  0.08758          NaN
84348301         M        11.42  ...                  0.17300          NaN
84358402         M        20.29  ...                  0.07678          NaN

[5 rows x 32 columns]

# Data Summary

In [121]:
# general summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 569 entries, 842302 to 92751
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   diagnosis                569 non-null    object
 1   radius_mean              569 non-null    float64
 2   texture_mean             569 non-null    float64
 3   perimeter_mean           569 non-null    float64
 4   area_mean                569 non-null    float64
 5   smoothness_mean          569 non-null    float64
 6   compactness_mean         569 non-null    float64
 7   concavity_mean           569 non-null    float64
 8   concave points_mean      569 non-null    float64
 9   symmetry_mean            569 non-null    float64
 10  fractal_dimension_mean   569 non-null    float64
 11  radius_se                569 non-null    float64
 12  texture_se               569 non-null    float64
 13  perimeter_se             569 non-null    float64
 14  area_se                  569 non-null    float64
 15  smoothness_se            569 non-null    float64
 16  compactness_se           569 non-null    float64
 17  concavity_se             569 non-null    float64
 18  concave points_se        569 non-null    float64
 19  symmetry_se              569 non-null    float64
 20  fractal_dimension_se     569 non-null    float64
 21  radius_worst             569 non-null    float64
 22  texture_worst            569 non-null    float64
 23  perimeter_worst          569 non-null    float64
 24  area_worst               569 non-null    float64
 25  smoothness_worst         569 non-null    float64
 26  compactness_worst        569 non-null    float64
 27  concavity_worst          569 non-null    float64
 28  concave points_worst     569 non-null    float64
 29  symmetry_worst           569 non-null    float64
 30  fractal_dimension_worst  569 non-null    float64
 31  Unnamed: 32              0 non-null      float64
dtypes: float64(31), object(1)
memory usage: 146.7+ KB

# Pre-processing

In [122]:
df1=df
df2=df
# There aren't any missing values except the column Unnamed: 32. So this column can be removed
df1 = df1.drop('Unnamed: 32', axis=1)

# Replacing the missing values with 1
df2 = df2.fillna(1)

In [123]:
# Using Labelencoder to transform diagnosis characters to digits
labelencoder = LabelEncoder()
df1['diagnosis'] = labelencoder.fit_transform(df1['diagnosis'])
df2['diagnosis'] = labelencoder.fit_transform(df2['diagnosis'])
X1 = df1
X2 = df2
y1 = df1['diagnosis']
y2 = df2['diagnosis']


# Split the data into training and testing sets
# The paper has split the data as 65.10% as training and 34.90% as testing
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.349, random_state=40)
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.349, random_state=40)

# Logistic Regression Model

In [124]:
logisticRegr1 = LogisticRegression()
logisticRegr2 = LogisticRegression()
logisticRegr1.fit(X_train1, y_train1)
logisticRegr2.fit(X_train2, y_train2)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

# Predictions

In [125]:
predictions1 = logisticRegr1.predict(X_test1)
predictions2 = logisticRegr2.predict(X_test2)

# Accuracy

In [133]:
# Use score method to get accuracy of model
score1 = logisticRegr1.score(X_test1, y_test1)
print("Accuracy when dropping the Unnamed: 32 column : " + str(score1))
score2 = logisticRegr2.score(X_test2, y_test2)
print("Accuracy when replacing the Unnamed: 32 column with 1 : " +str(score2))

Accuracy when dropping the Unnamed: 32 column : 0.9798994974874372
Accuracy when replacing the Unnamed: 32 column with 1 : 0.9597989949748744

# Classification Report and Confusion Matrix for dropping the Unnamed: 32 column

In [131]:
print(classification_report(y_test1, predictions1, digits=3))
cm1 = confusion_matrix(y_test1, predictions1)
print(cm1)

              precision    recall  f1-score   support

           0      0.992     0.977     0.985       133
           1      0.956     0.985     0.970        66

    accuracy                          0.980       199
   macro avg      0.974     0.981     0.977       199
weighted avg      0.980     0.980     0.980       199

[[130   3]
 [  1  65]]

# Classification Report and Confusion Matrix for replacing the Unnamed: 32 column with 1

In [132]:
print(classification_report(y_test2, predictions2, digits=3))
cm2 = confusion_matrix(y_test2, predictions2)
print(cm2)

              precision    recall  f1-score   support

           0      0.956     0.985     0.970       133
           1      0.968     0.909     0.937        66

    accuracy                          0.960       199
   macro avg      0.962     0.947     0.954       199
weighted avg      0.960     0.960     0.959       199

[[131   2]
 [  6  60]]